/* src/Sidebar.css */

.sidebar {
  width: 250px;
  background-color: white;
  /* box-shadow: 2px 0 5px 0px rgba(0, 0, 0, 0.1); */
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
  font-family: "Manrope", sans-serif;
}

.sidebar-item {
  padding: 10px;
  cursor: pointer;
  font-size: 15px;
  color: #808191;
  text-decoration: none;
  align-items: center;
  gap: 10px;
  display: flex;
  padding-left: 20px;
}

.sidebar-item.active {
    background-color: #F3569B; 
    color: white; 
    font-weight: bold;
    border-radius: 12px;
}

.sidebar-item:hover:not(.logout-button) {
    background-color: #F3569B; 
    color: white; 
    font-weight: bold;
    border-radius: 12px;
}

/* Logout button styles */
.logout-button {
  margin-top: auto; /* Pushes the button to the bottom */
  margin-bottom: 20px; /* Adds some space at the bottom */
}

.logout-button:hover {
  color: #e74c3c; /* Different color for logout to stand out */
  background-color: transparent !important; /* Không có background */
  font-weight: bold;
}